:root {
  --color-text-grey-1: #1E1E1E;
}

.card-panel .btn-group-icon span {
  font-weight: bold;
}

.card-panel .material-icons {
  vertical-align: bottom;
}

.card-panel .fs-1 {
  font-weight: bold;
}

.card-panel .top {
  display: flex;
  align-items: center;
}

.card-panel .top div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.card-panel .top span {
  margin-left: 10px;
  font-size: 1.4rem;
}

.card-panel .content {
  text-align: center;
}

.card-panel .content .quantity {
  font-size: 2.6rem;
  display: block;
  font-weight: bold;
}

.card-panel .btn {
  width: 100%;
  margin-top: 15px;
}

.card.intro-card > .row > .side-image {
  background-size: cover !important;
  background: linear-gradient(#00000066, #00000066), url('/docs/5.3/assets/img/examples/intro-home.jpeg');
}

.card.intro-card > .row > .side-image .icon-bg-dark {
  background-color: var(--color-text-grey-1);
  border-radius: 32px;
}

.card.intro-card > .row > .side-image .icon-bg-dark i {
  margin: 10px;
}

.card.intro-card > .row > .side-text > .card-body > a > small {
  color: var(--color-text-grey-1);
}
